.popup {
    width: 100%;
    height: 100%;
    top: 16px;
    right: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

@media (max-width: 320px) {
    .popup {
        top: 12px;
    }
}