.popup__input {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-top: 32px;
    padding-bottom: 7px;
    width: 358px;
    margin: auto;
    display: block;
    border: none;
    
    background-color: transparent;
    outline: none;
}

@media (max-width: 320px) {
    .popup__input {
        width: 242px;
        margin: 0px 8px 0px 18px;
    }
}