.popup__input {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 13px 0;
    width: 358px;
    margin: auto;
    display: block;
    border: none;
    border-bottom: 1px solid #000000;
    background-color: transparent;
    outline: none;
}

@media (max-width: 320px) {
    .popup__input {
        width: 238px;
    }
}