.profile {
    display: flex;
    justify-content: space-between;
    max-width: 880px;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 40px;
}

@media (max-width: 1024px) {
    .profile {
        flex-direction: column;
        align-items: flex-start;
        margin: auto;
        max-width: 340px;
    }
}

@media (max-width: 768px) {
    .profile {
        max-width: 282px;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 320px) {
    .profile {
        padding-bottom: 36px;
        padding-top: 50px;
    }
}