.header__logo {
    cursor: pointer;
    background-image: url(../../../image/logo.svg);
    padding-left: 142px;
    padding-top: 33px;
}

@media (max-width: 320px) {
    .header__logo {
        padding-left: 104px;
        padding-top: 24px;
        margin: 15px 0 0 25px;
        background-image: url(../../../image/121212.svg);
    }
}