.profile__add-button {
    min-width: 150px;
    min-height: 50px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    padding: 0;
    background-image: url(../../../image/d.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: 0.6;
}

/* @media (max-width: 1024px) {
    .profile__add-button {
        margin: auto;
    }
} */

@media (max-width: 320px) {
    .profile__add-button {
        min-width: 282px;
        /* margin: 0px 18px; */
        background-image: url(../../../image/331133.png);
    }
}