.popup__close-button {
    background-image: url(../../../image/Close\ Icon.svg);
    background-size: contain;
    position: absolute;
    padding: 0;
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

@media (max-width: 768px) {
    .popup__close-button {
        right: 0px;
    }
}