.popup__close-button {
    background-image: url(../../../image/закр.svg);
    background-size: contain;
    position: absolute;
    padding: 0;
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

.popup__close-button:hover {
    opacity: 0.6;
}

@media (max-width: 768px) {
    .popup__close-button {
        right: 1px;
        width: 22px;
        height: 22px;
        top: -37px;
    }
}