.element {
    display: grid;
    grid-template-columns: 282px 282px 282px;
    padding: 0;
    row-gap: 20px;
    column-gap: 17px;
    margin: auto;
}

@media (max-width: 768px) {
    .element {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
}

@media (max-width: 320px) {
    .element {
        grid-template-columns: 282px;
        margin: 0 22px 0 19px;
        row-gap: 19px;
    }
}